html {
  fon-size: 16px;
}

.body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased
}

* {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial',  sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff url("../image/logo.svg") no-repeat center;
  border-bottom: solid 1px #c6c6c6;
  padding: 1rem 0;
}

.product-title {
  padding: 1rem;
  font-family: 'Lora', 'Arial', serif;
  font-size: 1.25rem;
  color: #171717;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;
}

.product-gallery {
 display: flex;
 overflow-x: scroll;
}

.product-info {
  padding: 1rem 1rem 0;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial',  sans-serif;
}

.product-info-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.product-info_price {
  margin: 0;
  font-size: 1rem;
  line-height: 0.9;
  font-weight: 400;
}

.product-info_article {
  font-size: 0.75rem;
}

.product-info_color-name {
  font-size: 0.75rem;
  line-height: 1.4;
}

.product-color-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #c6c6c6;
  padding-bottom: 2rem;
}

.product-color-list_item {
  margin: 0;
  margin-right: 1rem;
}

li:last-child .product-color-list_color{
  background: #fawn;
}

.product-color-list_color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #000000;
}

.product-color-list_color.black {
  background-color: #000000;
}

.product-color-list_color.honey {
  background-color: #cfa880;
}

.product-btn-block {
  /*display: flex;
  flex-direction: column;*/
  padding: 2rem 1rem 3rem;
  border-bottom: solid 1px #c6c6c6;
}

.btn {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial',  sans-serif;
  border-radius: 2px;
  background-color: #171717;
  border: solid 1px #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.75rem;
  display: block;
  width: 100%;
  padding: 1rem 0;
  line-height: 1.2;
}

.btn_last {
  margin-bottom: 1.5rem;
}

.btn_primary:active {
  color: #000;
  background: #fff;
}

.btn_secondary:active {
  color: #fff;
  background: #000;
}

.btn_primary {
  color: #fff;
}

.btn_secondary {
  color: #171717;
  background-color: #fff;
}

.help-link {
  border: 0;
  background: transparent;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
  display: flex;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial',  sans-serif;
  line-height: 1.4;
}

.product-desc-item {
  width: 100%;
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: solid 1px #c6c6c6;;
}

.product-desc-item_title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.product-desc-item_title-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.25;
}

.arrow {
  background: #fff url("../icons/triangle.svg") no-repeat center;
  width: 10px;
  height: 20px;
}

.arrow.close {
  transform: rotate(180deg);
}

.product-desc-item_txt {
  font-family: 'Lora', 'Arial', serif;
  line-height: 1.71;
  font-size: 0.875rem;
  text-align: left;
  margin: 0;
  padding: 0 1rem 2rem;
}

.product-desc-item_txt p {
  margin: 0;
  line-height: 1.78;
}

.product-desc-item_txt ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.75;
}

.recommend {
  padding: 3rem 1rem 4rem;
}

.recommend-title {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial',  sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  text-align: left;
  color: #171717;
  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #171717;
  display: inline-block;
}

.recommend-list {
  padding: 1.5rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -2rem;
}

.recommend-list_item {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 130px;
  text-decoration: none;
  color: #171717;
}

.recommend-list_item:visited {
  color: #171717;
}

.recommend-list_item-img {
  width: 130px;
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.recommend-list_item-img img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.recommend-list_item-title {
  font-family: 'Lora', 'Arial', serif;
  font-size: 1rem;
  line-height: 1.19;
  text-align: left;
  color: #171717;
  margin-bottom: 0.5rem;
}

.recommend-list_item-price {
  font-size: 0.75rem;
  line-height: 1.2;
  text-align: left;
   color: #999999;
}

.more_title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  text-align: left;
  color: #171717;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #171717;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}

.more-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-list_item {
  margin-bottom: 1rem;
  line-height: 1;
}

.more-list_item:last-child {
  margin-bottom: 0;
}

.more-list_link {
  font-family: 'Lora', 'Arial', serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.21;
  text-align: left;
  color: #171717;
  text-decoration: none;
}

.more-list_link:visited {
  color: #171717;
}

.footer {
  padding: 2rem 1rem 2rem;
  background-color: #f3f3f3;
}

.footer-btn {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial',  sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  text-align: left;
  color: #999999;
  border: 0;
  background: transparent;
  margin-bottom: 1rem;
  padding: 0;
}

.footer-help-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #171717;
  margin: 0.5rem 0 1rem;
}

.footer-help-link {
  display: block;
  font-family: 'Lora', 'Arial', serif;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.21;
  text-align: center;
  color: #171717;
  text-decoration: none;
}
